---
import CustomButton from "./CustomButton.astro";
---

<div class="flex flex-col w-full items-center sm:flex-row sm:p-10" id="home">
  <div class="">
    <div class="text-white text-4xl text-center py-5 sm:text-5xl">
      <p>SnakePoleFitness</p>
    </div>
    <div class="">
      <div class="">
        <div class="text-white text-center text-2xl">
          <p>Estudio de Pole Dance & Fitness</p>
        </div>
        <div class="text-white text-center text-wrap text-1xl">
          <p>Clases grupales y privadas, nutrición personalizada y más!</p>
        </div>
      </div>

      <div class="flex gap-10 p-10">
        <CustomButton title="INSCRÍBETE" backgroundColor="#8D366F" href="#pricing" />
        <CustomButton title="HORARIOS" backgroundColor="#349A8D" href="#pricing" />
      </div>
    </div>
  </div>
  <div class="">
    <img src="https://i.imgur.com/fKNnnes.png" alt="" class="team" />
  </div>
</div>

<style>
  .team {
    min-width: 350px;
    width: 100%;
    height: auto;
  }
</style>
