---
import CustomButton from "./CustomButton.astro";
---

<div class="w-full flex flex-col gap-5 place-items-center sm:flex-row md:flex-row" id="home">
  <div class="flex flex-col w-full px-20 gap-3">
    <div class="text-white text-5xl">
      <p>SnakePoleFitness</p>
    </div>
    <div class="flex flex-col gap-5">
      <div class="gap-2">
        <div class="text-white text-2xl">
          <p>Estudio de Pole Dance & Fitness</p>
        </div>
        <div class="text-white text-1xl">
          <p>Clases grupales y privadas, nutrición personalizada y más!</p>
        </div>
      </div>

      <div class="flex flex-row gap-10 justify-center w-full">
        <CustomButton title="INSCRÍBETE" backgroundColor="#8D366F" href="#pricing" />
        <CustomButton title="HORARIOS" backgroundColor="#349A8D" href="#pricing" />
      </div>
    </div>
  </div>
  <div class="flex justify-end">
    <img src="https://i.imgur.com/fKNnnes.png" alt="" class="team" />
  </div>
</div>
<!-- <div class="flex justify-start text-white">Cómo llegar</div> -->

<style>
  .team {
    min-width: 350px;
    width: 100%;
    height: auto;
  }
</style>
